/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/misc.xml
/.idea/Mobile_test_appium.iml
/.idea/modules.xml
/.idea/vcs.xml
/.node_modules